* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    background-color: #272727;
}

.header header {
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 25px 70px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: #ececec;
    font-size: 1.7rem;
    letter-spacing: 10px;
}

.nav-bar {
    color: #ececec;
    display: flex;
    align-items: center;
}

.nav-bar a {
    display: flex;
    margin-left: 45px;
    border-radius: 18px;
    border: 1px solid #ececec;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.nav-bar a:hover {
    background-color: #ececec;
    color: #2b2b2b;
    transform: scale(1.2);
    box-shadow: rgba(124, 124, 124, 0.103) 0px 7px 29px 0px;
}

.register span {
    background-color: #ececec;
    color: #2b2b2b;
    transform: scale(1.2);
    border-radius: 18px;
    border: 1px solid #ececec;
    padding: 10px 15px;
    box-shadow: rgba(124, 124, 124, 0.103) 0px 7px 29px 0px;
}

.main {
    width: 35%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #1b1b1b;
    z-index: -1000;
}

.main .container {
    position: relative;
    display: block;
    top: 35%;
    left: 15%;
}

.container .text-title {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 300px;
    width: 800px;
    line-height: 175px;
    letter-spacing: -2px;
    color: #f7fffd;
    font-size: 5rem;
    text-transform: uppercase;
}



.container-slide {
    width: 60%;
    height: 800px;
    padding: 35px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    inset: 45% 38%;
    overflow: hidden;
}

.box-slide {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.a-imgs {
    width: 200px;
    height: 500px;
    border: 1px solid #ececec;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.img-1 {
    background-image: url(/assest/img/profile-1.jpg);
    background-position: center;
    background-size: cover;
}

.img-2 {
    background-image: url(/assest/img/profile-2.jpg);
    background-position: top;
    background-size: cover;
}

.img-3 {
    background-image: url(/assest/img/profile-3.jpg);
    background-position: right;
    background-size: cover;
}

.img-4 {
    background-image: url(/assest/img/profile-4.jpg);
    background-position: center;
    background-size: cover;
}

.a-imgs:hover {
    width: 310px;
    height: 550px;
    transform: scale(1.0);
    box-shadow: #303030c2 0px 1px 1px 0px inset, rgba(32, 32, 32, 0.349) 0px 50px 100px -20px, rgba(0, 0, 0, 0.082) 0px 30px 60px -30px;
}

@media (max-width:1470px) {
    .text-title h1 {
        display: none;
    }

    .main {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .container-slide {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 1280px) {
    .nav-bar {
        display: none;
    }

    span {
        display: none;
    }
    .logo{
        display: flex;
        position: relative;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:980px) {
    .logo{
        display: flex;
        position: relative;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    .box-slide {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .a-imgs {
        width: 300px;
        height: 150px;
    }
}